@charset "utf-8";
/*******************************************************************
 *     ___ ___ ___
 *   / __/ __/ __|
 *  | (__\__ \__ \
 *  \___|___/___/
 *
 *   P O R T F O L I O   S I T E   C S S
 *   basic styles for modern browsers
 *   Code licensed MIT.
 *   For details, see http://en.wikipedia.org/wiki/MIT_License
 *   Date:150606 Revision1.0.3a
 *   Copyleft 1995-2015 Some Rights Reserved , Kenji Natsumoto
 *   & davidtmiller(http://www.ironsummitmedia.com/)
 *   Thanks for Nicolas Gallagher & Jonathan Neal(Normalize.css)
 *　  Thanks for Jonathan Snook(SMACSS)
 *　  And many more.
 ******************************************************************/
/*-----------------------------------------------------
/*  INDEX
/*  01.%BASE　（各要素のデフォルトスタイル）
/*  02.%LAYOUT (IDを用いるような画面の大枠)
/*  03.%MODULE (画面を構成するほぼすべての要素)
/*  04.%STATE (JSによって切り替わるルールなど)
/*  05.%THEME (ビジュアルデザインテーマの切り替えなど)
/*----------------------------------------------------- */

/* 01.%BASE
 ******************************************************************/
body {
    overflow-x: hidden;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
 /* 141122更新：Lucida Grandeを指定してあればヒラギノ角ゴは自動で出るから省略、だけど */
 /* ヒラギノ角ゴは必要っぽい。 */
 /* Macでメイリオが入っている場合（つまりMS Officeをインストールしてる場合）、Lucida Grandeの代替えとしてのヒラギノ角ゴが効かず、 */
 /* その次の指定であるメイリオが出てしまう */
}

p {
    font-size: 16px;
    line-height: 1.5 !important;
}

p.small {
    font-size: 13px;
    line-height: 1.5;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #af3821;
}

.txtSize-exLg {
    font-size: 4em;

}
.textSize-lg {
    margin-top: 0;
    font-size: 2.7em;
}

.textSize-md {
    margin-top: 20px;
    font-size: 1.5em;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.6em;   /* add */
    padding: 0 .55em;
    font-family: FontAwesome;
    font-size: 1em;   /* add */
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

/* downAllow Setting */
.downAllow {
    margin: 0;
    font-size: 25px;
    background: #dcdcdc;
}

/* downAllow Setting */
.img-centered {
    margin: 0 auto;
}

/* 02.%LAYOUT
 ******************************************************************/
header {
    text-align: center;
}

header .container {
    padding-top: 70px;   /* sp ブランド上余白 */
    padding-bottom: 20px;   /* sp 下余白 */
}

header img {
    display: block;
    margin: 0 auto 10px;  /* sp ブランドとpの余白 */
}

header .intro-text .name {
    margin-top: -30px;  /* sp pとh1の余白 */
    display: block;
    text-transform: none;   /* add */
    font-size: 1.7em;   /* sp 文字サイズ */
    font-family: 'NotoSansCJKjp-Thin';
    line-height: 1.2;
}

header .intro-text .skills {
    font-size: 1.4em;   /* sp 文字サイズ */
    font-family: 'NotoSansCJKjp-Thin';
    line-height: 1.2;
}

@media(min-width:768px) {
    header .container {
        padding-top: 130px;  /* PC　上余白 */
        padding-bottom: 0;   /* add */
    }

    header .intro-text .name {
        font-size: 3.0em;   /* PC 文字サイズ */
        font-family: 'NotoSansCJKjp-Thin';
        line-height: 1.2;
    }

    header .intro-text .skills {
        font-size: 1.75em;
        font-family: 'NotoSansCJKjp-Thin';
        line-height: 1.2;
    }
section- {
    margin: 100px 0;
    padding: 0;
    }

section- #portfolio {
    margin: 1000px 0;
    padding: 0;
    }
h2  {
    margin: 1000px 0;
}
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: none;
    font-weight: 100;  /* add*/
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 0;
}

section h2 { /* 無効かも */
    margin: 0;
    font-size: 3em;
}

/* 03.%MODULE
 ******************************************************************/
.btn-outline {
    margin-bottom: 50px;  /* PDFボタン下の余白 */

}

.spaceX {
    margin: 10px 0;
}
@media(max-width:767px) {
    section {
        padding: 0;
    }

}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(250,80,47,.9);  /* add */
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #f6f6f6;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #f6f6f6;
    font-size: 20px;
    color: #af3821;
    background: #363535;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline.focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fb816a;
    color: #fb816a;
    background: #444;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 0px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 0px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #a94442;  /* フォームの上に表示されるガイドの文字色 */
}

form .row:first-child .floating-label-form-group {
    border-top: 0px solid #eee;
}

footer h3 {
    margin-bottom: 10px; /* add */
}

footer .footer-above {
    padding-top: 20px;
}

footer .footer-col {
    margin-bottom: 20px;
}

footer .footer-below {
    padding: 25px 0;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
    text-align: left;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.btn-danger {
  color: #f6f6f6;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #f6f6f6;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
/* ＊＊ここからオリジナルに追加＊＊ */
/* Web Font Japanese <NOTO>  -------------------------------------*/
@font-face {
    font-family: 'NotoSansCJKjp-Thin';
    src: url('../fonts/NotoSansCJKjp-Thin-Subset.woff'),url('../fonts/NotoSansCJKjp-Thin-Subset.eot');
}

.notoSansJP {
    font-family: 'NotoSansCJKjp-Thin';
    line-height: 1.2;
}

*[class^="notoSansJP"] {
  margin:0.5em 0;
  font-family: 'Noto Sans';
}
.notoSansJP100 { font-weight: 100; }
.notoSansJP200 { font-weight: 200; }
.notoSansJP300 { font-weight: 300; }
.notoSansJP400 { font-weight: 400; }
.notoSansJP500 { font-weight: 500; }
.notoSansJP600 { font-weight: 600; }
.notoSansJP700 { font-weight: 700; }
.notoSansJP800 { font-weight: 800; }
.notoSansJP900 { font-weight: 900; }

/* 04.%STATE
 ******************************************************************/

/* 05.%THEME
 ******************************************************************/
 /* ＊メインカラー設計＊ */
 .keyColor {
  background: #fa502f;
}

.keyColor30peroff {
  background: #fb816a !important;
}

.keyColor30peron {
  background: #af3821;
}

.subColorPrimary {
  background: #61c0df;
}

.subColorPrimary30peroff {
  background: #91d3e9;
}

.subColorPrimary30peron {
  background: #44869c;
}

.accentColor {
  background: #000;
}

.sccectColor30peroff {
  background: #000;
}

.sccectColor30peron {
  background: #000;
}
 /* ＊背景カラー＊ */
.bgColor {
  background: #f6f6f6 !important;
}

.bgColorTone {
  background: #ededed;
}

.bgColorToneSecondary {
  background: #363535;
}

.bgColorToneTertiary {
  background: #444 !important;
}

 /* ＊テキストカラー＊ */
.txtColor {
 color: #363535;
}

.txtColor-wht {
 color: #f6f6f6;
}

.txtColor-gry {
 color: #c3bebe;
}

.txtColorComment {
  background: #000;
}

.txtWarning {
  background: #000;
}

.txtSuperWarnig {
  background: #000;
}

strong {
  color: #af3821;
  font-weight: bold;
}

.small {
    color: #dcdcdc !important;
}

 /* ＊アンカーリンクカラー＊ */
.linkColor {
  background: #000;
}

.vitedColor {
  background: #000;
}

.hoverColor {
  background: #000;
}

.activeColor {
  background: #000;
}

.linkColorSecondary a:link {
  text-decoration: underline;
  color: #330066;
}

.linkColorSecondary a:visited {
  text-decoration: underline;
  color: #018c52;
}

.linkColorSecondary a:hover {
  text-decoration: none;
  color: #f6f6f6;
  background: #330066;
}

.linkColorSecondary a:active {
  text-decoration: none;
  color: #330066;
  background: #f6f6f6;
}

.vitedColorSecondary {
  background: #000;
}

.hoverColorSecondary {
  background: #000;
}

.activeColorSecondary {
  background: #000;
}

.linkColorTertiary {
  background: #000;
}

.vitedColorTertiary {
  background: #000;
}

.hoverColorTertiary {
  background: #000;
}

.activeColorTertiary {
  background: #000;
}

.modal-content {
  background-color: #f6f6f6;
}

/* page scroll　Btn color*/
.bgColor-scrollTop {
  color: #f6f6f6 !important;
  background-color: #af3821 !important;
  border-color: #af3821 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #363535 !important;
  background-color: #fa502f !important;
  border-color: #fa502f !important;
}

 /* ＊ナビカラー＊ */
/* bootstrap3.3.2.cssの4381-4435行目 */
.navbar-default .navbar-nav > li > a {
  color: #f6f6f6 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fb816a !important;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fb816a !important;
  background-color: #444 !important;
}

/* bootstrap3.3.2.cssの4385-4391行目 */
.navbar-default .navbar-brand {
  color: #f6f6f6;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fb816a;
  background-color: transparent;
}

 /* ＊フォームカラー＊ */
input,
textarea {
  margin: 0;
  background-color: #f6f6f6 !important;
}

input[type="text,email"] {
  background-color: #f6f6f6 !important;
  border: 0;
  height: 40px; /* 高さ40px */
  width: 200px;
  padding: 0 10px;
  position: absolute; /* 絶対配置 */
  left: 0;
  top: 0;
}

 /* ＊HairLine & icon color＊ */
hr.accentBorder {
    margin: 20px auto 20px;  /* hr 下余白 */
    padding: 0;
    max-width: 30px;
    border: 0;
    border-top: solid 4px;
    text-align: center;
    width: 30px;
    color: #333 !important;
}

hr.accentBorder-comment,
hr.accentBorder-jet,
hr.accentBorder-bullhorn {
    font-size: 3.5em;
    margin: 35px auto 50px; /* ここで上下のマージンを決める */
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 3px;
    border-color: #fa502f;
    color: #fa502f;  /* アイコンの色 */
    text-align: center;
}

hr.accentBorder-bullhorn:after,
hr.accentBorder-bullhorn:after {
    content: "\f0a1";
    display: inline-block;
    position: relative;
    top: -.7em;   /* 上下中央あわせ */
    padding: 0 .33em;  /* アイコンの左右余白 */
    font-family: FontAwesome;
    font-size: 1em;   /* add */
    background: #fb816a;   /* アイコンの背景色 */
}

hr.accentBorder-bullhorn-gray:after {
    background: #f6f6f6;   /* アイコンの背景色 */
}

hr.accentBorder-jet:after,
hr.accentBorder-jet:after {
    content: "\f0fb";
    display: inline-block;
    position: relative;
    top: -.8em;   /* 上下中央あわせ */
    padding: 0 .33em;  /* アイコンの左右余白 */
    font-family: FontAwesome;
    font-size: 1em;   /* add */
    background: #fb816a;   /* アイコンの背景色 */
}

hr.accentBorder-comment:after,
hr.accentBorder-comment:after {
    content: "\f075";
    display: inline-block;
    position: relative;
    top: -.8em;   /* 上下中央あわせ */
    padding: 0 .33em;  /* アイコンの左右余白 */
    font-family: FontAwesome;
    font-size: 1em;   /* add */
    background: #fb816a;   /* アイコンの背景色 */
}


hr.accentBorder-male,
hr.accentBorder-female {
    font-size: 3.5em;
    margin: 35px auto 50px; /* ここで上下のマージンを決める */
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 3px;
    border-color: #b3afaf;
    color: #b3afaf;
    text-align: center;
}

hr.accentBorder-female:after,
hr.accentBorder-female:after {
    content: "\f182";
    display: inline-block;
    position: relative;
    top: -.8em;   /* 上下中央あわせ */
    padding: 0 .23em;  /* アイコンの左右余白 */
    font-family: FontAwesome;
    font-size: 1em;   /* add */
    background: #f6f6f6;   /* アイコンの背景色 */
}

hr.accentBorder-male:after,
hr.accentBorder-male:after {
    content: "\f1ae";
    display: inline-block;
    position: relative;
    top: -.8em;   /* 上下中央あわせ */
    padding: 0 .23em;  /* アイコンの左右余白 */
    font-family: FontAwesome;
    font-size: 1em;   /* add */
    background: #f6f6f6;   /* アイコンの背景色 */
}
